<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order number <%= @user.id%></h1>
    <p>
      Thank you for your purchase.
      The Total was $<%= @user.total_cents/100 %>

    <% @products.each_with_index do |product, index| %>
    <li><%= product.name %>
    <li>$<%= product.price %></li>
    <li><%= @line_items[index].quantity%></li>
    <% end %>


  </body>
</html>