<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  <ul class="list-group">
  	<% @products.each_with_index do |product, index| %>
  	<li class="list-group-item"><%= product.name %>
  	<li class="list-group-item"><%= image_tag product.image.thumb, alt: product.name %><br><%= product.description %>
  		<aside class="price">$<%= product.price %></aside>
	<li class="list-group-item">Quantity: <%= @line_items[index].quantity%></li>
    <% end %>
    <li class="list-group-item">Email Used: <%= @order.email %> </li>
  	<li class="list-group-item"><h2>Total: <%= number_to_currency(@order.total_cents/100)%></h2></li>
  </ul>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>